.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: grid;
}

.board, .overlay {
  grid-area: 1 / 1;
}

.overlay {
  display: grid;
  width: 450px;
  height: 450px;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px 150px;
}

.cell-overlay {
  border: 4px solid rgba(251, 86, 7);
  padding: 8px;
}

.board {
  display: grid;
  width: 450px;
  height: 450x;
  grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px;
  grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px;
}

.cell {
  border: 1px solid rgba(251, 86, 7, 0.63);
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  color: white;
}

.locked {
  color: #FB5607;
  font-size: 1.1em;
  font-style: bold;
  background: #FFBE0B
}

.box-edge {
  border: 4px solid white;
  padding: 8px;
}

button {
  color: rgba(251, 86, 7);
  border-color: transparent;
  border-radius: 4px;
  padding: 8px;
  margin: 8px;
  background: #FFBE0B;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  outline: none;
}

button:hover {
  border-color: rgba(251, 86, 7);
}

button:active {
  background: #FFC933;
}
